.idea
.vscode

*.tsbuildinfo
.nyc_output
.mocha_output
coverage
dist
dist-tests
build
wallaby*.js

node_modules

package-lock.json
!.circleci/config/**/package-lock.json
!.circleci/bot/package-lock.json
.DS_Store
pnpm-*.log*
.pnpm-*.log*
npm-debug.log*

logs
__data

.env*
!.env.template

.eslintcache
.hubot_history

pnpm-lock.yaml

# temporary workspace files
/tsconfig.watch.json
/ecosystem.workspace.config.json


# terraform files
*.tfvars
.terraform
